<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Emergencia ECU-911</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content fullscreen>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Formulario Emergencia</ion-card-title>
    </ion-card-header>
    <ion-list>
      <ion-item>
        <ion-label position="floating">Titulo</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Telefono</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Fecha</ion-label>
        <ion-datetime value="1990-02-19" placeholder="Select Date"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Start Time</ion-label>
        <ion-datetime display-format="h:mm A" picker-format="h:mm A" value="1990-02-19T07:43Z"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Provincia</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Canton</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Direccion Reporte</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Direccion Incidente</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Descripcion</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Operador</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Reportador</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Coordenada Y</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
    </ion-list>
    <div class=botones>
      <ion-button url color="primary" fill="outline">Enviar</ion-button>
      <ion-button color="danger">Cancelar</ion-button>
      <ion-button color="danger" (click)="getEmergencias()">Obtener</ion-button>
    </div>
  </ion-card>
</ion-content>