<ion-header>
  <ion-toolbar color="danger">
    <ion-title>ECU 911</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="contentE">  
  <ion-card class="card" color="light">
    <img  class="img" src="assets/icon/ecu.png" alt="">
    <ion-item class="activated">
      <ion-icon name="contact" slot="start"></ion-icon>
      <ion-label position="floating">User</ion-label>
      <ion-input type="text" name="user"></ion-input>
    </ion-item>
    <br>
    <ion-item class="activated">
      <ion-icon name="finger-print" slot="start"></ion-icon>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" name="password"></ion-input>
    </ion-item>
    <br>
    <ion-button color="danger" class="button">Acceder</ion-button>
  </ion-card>
</ion-content>